[Unit]
Description=App

[Service]
User={{ app_user }}
{% if app_debug_console %}
Environment=APP_CONSOLE=1
{% endif %}
{% if app_extra_env %}
Environment={{ app_extra_env }}
{% endif %}
ExecStart=/usr/bin/app
